body {
    background-image: url('../IMAGENES/fondo1.png');
    background-color: #11172b; /* Color de fondo del contenedor */
}

.Comunidad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Ajusta la altura según tu diseño */
}

.Cuadro {
    text-align: center; 
    text-decoration: none;
    background-color: rgba(33, 32, 41, 0.13); 
    color: white; 
    padding: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
  }

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.Centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

.Tabla {
    justify-content: center;
    align-items: center;
}
